.container {
  max-width: 600px;
}

.card {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}

.nav-tabs.modern-tabs {
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav-tabs .nav-item {
  flex: 1;
  text-align: center;
}

.nav-tabs .nav-link {
  background-color: #f8f9fa;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #6c757d;
  margin-right: 5px;
  padding: 10px 15px;
  transition: all 0.3s;
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.nav-tabs .nav-link.disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.nav-tabs .nav-link:hover:not(.active) {
  background-color: #e2e6ea;
  color: #495057;
}

@media (max-width: 767.98px) {
  .nav-tabs.modern-tabs {
    flex-direction: column;
  }

  .nav-tabs .nav-link {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
